.navbar {
  color: #fff;
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  transition: all 0.3s ease;

  &.scrolled {
    background-color: var(--main-color);
    opacity: 0.9;
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 25px;
        margin-right: 20px;
      }
      span {
        margin-left: 20px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      .icon {
        margin: 0 15px;
        cursor: pointer;
      }
      img {
        height: 25px;
        // aspect-ratio: 1;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }
        span {
          padding: 10px;
          cursor: pointer;
        }
        &:hover {
          .options {
            position: absolute;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
